/* Slideshow container */
.slideshow-container {
    width: 100%;
    position: relative;
    margin: 30px auto 0;
    height: 65vh;
}

.slideshow-container img {
    height: inherit;
}

.text {
    color: #fff;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    width: max-content;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px 24px;
}

.mySlides {
    display: none;
    height: inherit !important;
    justify-content: center;
}

.mySlides img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    text-decoration: none;
    background: #3490DE;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background:rgba(0, 0, 0, 0.6);
    color: #fff;
}

/* Caption text */
.text {
    color: #fff;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    width: max-content;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px 24px;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideshow-container .active,
.slideshow-container .dot:hover {
    background-color: #0f55da;
}

.dot.active {
    background-color: #0f55da;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}